In [3]:
import numpy as np
import pandas as pd
import re

In [11]:
income = pd.read_csv('data/kaggle_income.csv', encoding='ISO-8859-1')
income.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [8]:
county = pd.read_csv('data/Supplemental Data - County-Table 1.csv')
print(county.shape)
county.head()

(3143, 10)

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001.0,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003.0,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005.0,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007.0,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009.0,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [9]:
state = pd.read_csv('data/Supplemental Data - State-Table 1.csv')
print(state.shape)
state.head()

(77, 40)

,StateFIPS,State,WIC participants FY 2009,WIC participants FY 2011,"WIC participants, FY 2012","WIC participants, FY 2013","WIC participants, FY 2014","WIC participants, FY 2015",National School Lunch Program participants FY 2009,National School Lunch Program participants FY 2011,...,"Summer Food participants, FY 2014","Summer Food participants, FY 2015","State Population, 2009","State Population, 2010","State Population, 2011","State Population, 2012","State Population, 2013","State Population, 2014","State Population, 2015","State Population, 2016"
0,1.0,Alabama,"140,810","143,768","141,900","139,001","131,046","132,133","579,880","571,291",...,"42,484","49,907","4,708,708","4,785,401","4,802,740","4,817,528","4,833,722","4,849,377","4,858,979","4,863,300"
1,2.0,Alaska,"25,816","26,295","24,969","23,055","19,605","19,682","53,554","54,410",...,"6,670","5,850","698,473","714,146","722,718","730,307","735,132","736,732","738,432","741,894"
2,4.0,Arizona,"208,873","199,343","193,214","182,501","173,020","167,072","655,498","661,437",...,"23,209","16,007","6,595,778","6,413,158","6,482,505","6,551,149","6,626,624","6,731,484","6,828,065","6,931,071"
3,5.0,Arkansas,"94,107","93,461","94,293","89,777","83,289","84,220","351,950","352,818",...,"45,837","31,081","2,889,450","2,921,588","2,937,979","2,949,828","2,959,373","2,966,369","2,978,204","2,988,248"
4,6.0,California,"1,439,006","1,466,564","1,472,468","1,431,881","1,348,939","1,265,005","3,175,063","3,282,277",...,"115,937","128,051","36,961,664","37,338,198","37,691,912","37,999,878","38,332,521","38,802,500","39,144,818","39,250,017"

In [10]:
state.columns

Index(['StateFIPS', 'State', 'WIC participants FY 2009',
       'WIC participants FY 2011', 'WIC participants, FY 2012',
       'WIC participants, FY 2013', 'WIC participants, FY 2014',
       'WIC participants, FY 2015',
       'National School Lunch Program participants FY 2009',
       'National School Lunch Program participants FY 2011',
       'National School Lunch Program participants, FY 2012',
       'National School Lunch Program participants, FY 2013',
       'National School Lunch Program participants, FY 2014',
       'National School Lunch Program participants, FY 2015',
       'School Breakfast Program participants FY 2009',
       'School Breakfast Program participants FY 2011',
       'School Breakfast Program participants, FY 2012',
       'School Breakfast Program participants, FY 2013',
       'School Breakfast Program participants, FY 2014',
       'School Breakfast Program participants, FY 2015',
       'Child and Adult Care particpants FY 2009',
       'Child and Adult Care particpants FY 2011',
       'Child and Adult Care participants, FY 2012',
       'Child and Adult Care participants, FY 2013',
       'Child and Adult Care participants, FY 2014',
       'Child and Adult Care participants, FY 2015',
       'Summer Food particpants FY 2009', 'Summer Food participants FY 2011',
       'Summer Food participants, FY 2012',
       'Summer Food participants, FY 2013',
       'Summer Food participants, FY 2014',
       'Summer Food participants, FY 2015', 'State Population, 2009',
       'State Population, 2010', 'State Population,  2011',
       'State Population, 2012', 'State Population,  2013',
       'State Population,  2014', 'State Population,  2015',
       'State Population,  2016'],
      dtype='object')

In [12]:
demo = pd.read_csv('data/acs2015_county_data.csv', encoding='latin-1')
print(demo.shape)
demo.head()

(3220, 37)

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7